<!DOCTYPE html>

<html>
<head>
	<title>Card Collage</title>
	<meta charset="utf-8">
  {{!-- <link href='/stylesheets/bootstrap.css' rel='stylesheet'> --}}
  {{!-- <link href='/stylesheets/bootstrap-theme.css' rel='stylesheet'> 
   <script src="{{script}}"></script> --}}
  <link href='/stylesheets/style.css' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
  <script src="/javascripts/firebase.js"></script>

</head>

<body>


      {{{body}}}


  </div>
</body>
</html>
