<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link href='/stylesheets/bootstrap.css' rel='stylesheet'> --}}
  {{!-- <link href='/stylesheets/bootstrap-theme.css' rel='stylesheet'> 
   <script src="{{script}}"></script> --}}
   <script src="/javascripts/handlebars.js"></script>
  <link href='/stylesheets/style.css' rel='stylesheet'>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
  <script src="http://www.WebRTC-Experiment.com/RecordRTC.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/handy.js"></script>
  

</head>

<body>


      {{{body}}}


  </div>
</body>
</html>
