<script src="/templates/hbt.js"></script>
<script src="/javascripts/firebase.js"></script>

<p class="regtext" id="intromsg">John's birthday is coming up in a week. Choose a tile and upload a personal birthday wish for him!<p>
<p class="regtext" id="shareLink"></p>

{{!-- <div id="row1">
</div>
<div id="row2">
</div> --}}



<table> 
<tr id="row1">
{{!-- Code is in template/tileItem.handlebars --}}
</tr>
<tr id="row2">

</tr>

</table>
