<script src="/templates/hbt.js"></script>
<script src="/javascripts/firebase.js"></script>

<p class="regtext" id="intromsg">{{intromsg}}</p>
<p class="regtext" id="shareLink"></p>

{{#if name_collage}}
<br/>
<h1 class="wishMSG">{{message}} </h1>
<table> 
<tr id="row1">
{{!-- Code is in template/tileItem.handlebars --}}
</tr>
</table>


{{else}}
<table> 
<tr id="row1">
{{!-- Code is in template/tileItem.handlebars --}}
</tr>
<tr id="row2">

</tr>

</table>

{{/if}}
