<script src="/javascripts/firebase.js"></script>
<p>Choose a tile and upload a photo!</p>
<p>Notes: Upon loading of this page, we need to check collageID to see which tiles are already filled, then fill in those images, and remove form element for those tiles.</p>



{{!-- <script id="tile-template" type="text/x-handlebars-template">
  <div class="tile_list">
    {{#each tile_list}}
      {{> tileItem}}
    {{/each}}
  </div>
</script> --}}
 
<table> 
<tr id="row1">
{{!-- <script id="tile-partial" type="text/x-handlebars-template">
  <td>
      <div class="wrapper tile" id="{{fb_tile_id}}">
        <a href="/simplecam?fb_collage_id={{fb_collage_id}}&fb_tile_id={{fb_collage_id}}">
          <img src="{{photo}}" class="overlay">
        </a>
      </div>
  </td>
</script> --}}
</tr>
<tr id="row2">

</tr>

</table>
