
		<section id="intro" class="bg">
			<div class="row">
				<div class="six columns" id="header">
					<h3>Welcome to</h3>
					<h1>CARD COLLAGE</h1>
					<div class="clear"></div>
				</div>
				<div class="six columns">
					<p class="intro_text">
						Make a fun collage with friends, attach your personal video message, and impress whomever receives it!
					</p>
				</div>
			</div>
			
			<div class="nav">
				<div class="row">
					<div class="twelve columns">
						<a href="#portfolio" class="smoothScroll">Templates</a>
						<a href="#about" class="smoothScroll">Collage</a>
						<a href="#contact" class="smoothScroll">Message</a>
					</div>
				</div>
			</div>
			<div class="nav_bg">
			</div>
		</section>

		<section id="portfolio">
			<div class="row">
				<div class="twelve columns">
					<h1>Please<span class="quote">choose an empty tile and make the shape on it :) </span></h1>
				</div>
			</div>

			<div class="row">		
				<div class="twelve columns">
					<table> 
						<tr id="row1">
						{{!-- Code is in template/tileItem.handlebars --}}
						</tr>
						<tr id="row2">
							{{!-- <td>hi</td> --}}
						</tr>	
					</table>

					<ul class="works">
						<li>
							<a href="yogurt.html">
								<div class="hover">
									<h3>YOGURT</h3>
									<h5 class="tags"><span>UI</span><span>UX</span><span>Data-vis</span><span>Interaction</span></h5>
								</div>
								<img src="images/heart1.jpg"/>
							</a>
						</li>
						<li>
							<a href="mobiata.html">
								<div class="hover">
									<h3>MOBIATA</h3>
									<h5 class="tags"><span>UI</span><span>UX</span><span>Mobile</span></h5>
								</div>
								<img src="images/heart2.jpg"/>
							</a>
						</li>
						<li>
							<a href="echorus.html">
								<div class="hover">
									<h3>ECHORUS</h3>
									<h5 class="tags"><span>Ideation</span><span>UI</span><span>UX</span><span>Strategy</span></h5>
								</div>
								<img src="images/heart3.jpg"/>
							</a>
						</li>
						<li>
							<a href="derive.html">
								<div class="hover">
									<h3>DÉRIVE</h3>
									<h5 class="tags"><span>Interaction</span><span>Web</span><span>Gesture UI</span></h5>
								</div>
								<img src="images/heart4.jpg"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section id="album_wall" class="bg">
			<div class="row">
				<div class="twelve columns center">
					<h1>Record a personal video message: </h1>
				</div>
			</div>
		</section>

		<section id="about">
			<div class="row">
				<div id="container">
					<div class="direction" id="simplecammsg">Please take a photo to match the pattern on the left. <span class="msg" id="status">Allow your browser to use your video camera.</span></div>

					<div class="border" id="videowrapper">
						<video id="video"></video>
						<img src="images/Heart1.jpg" width=320 id="overlay">
					</div>
					<button class="button" id="startbutton">Take photo</button>
					<button class="button" id="donebutton">Done!</button>
					<a href="/?collage_id={{fb_collage_id}}"><button class="button" id="cancelbutton">Cancel</button></a>
					<canvas id="canvas"></canvas>
					<div class="border" id="photowrapper"><img src="images/Heart1.jpg" class="" id="photo" alt="photo"></div>
					<p id="countdown"></p>
				</div>

				<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
				<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>
				<div id="fb_filled" style="display: none;">{{filled}}</div>
			</div>
		</section>

		<section id="hire" class="bg">
			<div class="row">
				<div class="six columns offset-by-six">
					<h1>NOW I'M BACK TO STANFORD, LOOKING FOR NEW OPPORTUNITIES!</h1>
				</div>
			</div>
		</section>	

		<section id="contact">
			<div class="row">
				<div class="twelve columns center">
					<h4>If you're interested, feel free to contact me!</h4>
					<h2 class="contact_link">
						<a href="mailto: ningxia.z@gmail.com">
						ningxia.z@gmail.com</a> / 
						+1 (650) 704 - 0652
					</h2>
					<h4>Or connect with me on:</h4>
				</div>
			</div>
			<div class="row social">
				<div class="two columns center">
					<a href="https://www.facebook.com/ningxia.zhang" target="_blank"><img class="social_icon" src="images/facebook.png"></a>
				</div>
				<div class="two columns center">
					<a href="https://twitter.com/thmmrs" target="_blank"><img class="social_icon" src="images/twitter.png"></a>
				</div>
				<div class="two columns center">
					<a href="http://www.linkedin.com/pub/ningxia-zhang/2a/953/520"  target="_blank"><img class="social_icon" src="images/linkedin.png"></a>
				</div>
				<div class="two columns center">
					<a href="https://github.com/ningxiaz" target="_blank"><img class="social_icon" src="images/github.png"></a>
				</div>
				<div class="two columns center">
					<a href="http://www.last.fm/user/thmmrs2298" target="_blank"><img class="social_icon" src="images/lastfm.png"></a>
				</div>
				<div class="two columns center">
					<a href="http://ningxiaz.tumblr.com/" target="_blank"><img class="social_icon" src="images/tumblr.png"></a>
				</div>
			</div>
			<div class="row credit">
				<div class="eight columns">
					<p class="contact_text">
						This site is responsive, thanks to <a href="http://foundation.zurb.com/" target="_blank">Foundation</a> framework.
					</p>
					<p class="contact_text">
						The fonts used on this site are <a href="http://www.cassannet.net/" target="_blank">Cassannet</a> (headers) and <a href="http://www.dotcolon.net/font/?id=vegur" href="_blank">Vegur</a> (body text).
					</p>
					<p class="contact_text">
						The photographs of me (the background) and the thumbnail of Yogurt project are kindly provided by my good friend <a href="http://boruiwang.org/" target="_blank">Borui</a>.
					</p>
				</div>
				<div class="four columns">
					<p class="contact_text">
						Made on the lovely Stanford campus.<br>
						More stuff will be added soon.<br>
					</p>
					<p class="contact_text">
						© 2013 Ningxia Zhang.<br>
						All rights reserved.
					</p>
				</div>
			</div>
		</section>

		<footer>
		</footer>



    <script src="/javascripts/simplecam.js"></script>