<script src="/templates/hbt.js"></script>
<script src="/javascripts/firebase.js"></script>
<link rel="stylesheet" href="/stylesheets/planner.css">

		<section id="intro" class="bg relative">
			{{!-- <div class="small-12 columns">
			<h1>COLLAGE WITH FRIENDS</h1>
			</div> --}}
			<div class="row">
				<div class="small-6 columns">
					<h3>Welcome to</h3>
					<h1>COLLAGE</h1>
					<h1>WITH</h1>
					<h1>FRIENDS</h1>
				</div>
				<div class="small-6 columns">
					<div class="row">
						<div class="small-6 columns">
							<img id="fullhearttemplate" src="/images/fullhearttemplate.png">
						</div>
						<div class="small-6 columns">
							<img id="fullheart" src="/images/fullheart.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="small-6 columns">
					<div class="row">
						<div class="small-6 columns">
							<img id="fullsmileytemplate" src="/images/fullsmiley.png">
						</div>
						<div class="small-6 columns">
							<img id="fullsmiley" src="/images/fullfaces.jpg">	
						</div>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="row">
						<div class="small-4 columns">
						</div>
						<div class="small-8 columns">
							<div class="row"> 
								<h3 style="margin-top: 30px">
									Turn a template… 
									</br>Into a collaborative photo/video collage
									</br>And share with your friends
								</h3>
							</div>
							<div class="row"></br></div>
							<div class="row">
								<a href="#task1" class="radius button smoothScroll" style="display: block">Start your own collage</a>
							</div>
							<div class="row">
								<a data-reveal-id="videoModal" class="radius button" style="display: block; background-color: #f75933"><i class="fa fa-play-circle"></i> What is CollageWithFriends?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			

	
			<div class="nav">
				<div class="row">
					<div class="twelve columns">
						<a href="#portfolio" class="smoothScroll"></a>
{{!-- 						<span href="#contribute" class="smoothScroll">Contribute to existing Collage
							<input type="text" name="existing_collage" id="existing_collage" placeholder="Enter Collage ID">
							<button type="button" onclick="GoToCollageID()">Go!</button>
						</span> --}}
					</div>
				</div>
			</div>
			<div class="nav_bg">
			</div>
		</section>

		{{!-- <section id="album_wall" class="bg">
			<div class="row">
				<div class="twelve columns center">
					<h1>{{direction}}</h1>
				</div>
			</div>
		</section> --}}

		<div id="videoModal" style="top: 0px;" class="reveal-modal large" data-reveal>
		  <div class="flex-video">
		  	<iframe width="560" height="315" src="//www.youtube.com/embed/hHwpd-gpapo" frameborder="0" allowfullscreen></iframe>
		  	
		  </div>

		  <a class="close-reveal-modal">&#215;</a>
		</div>

		<section id="portfolio" class="relative">
			<a name="task1"></a>
			<div class="row full-height pad-left">

				<h1 class="planner-msg">Task 1: <span class="quote" id="task1">Choose a template for your collage. Hover over the templates for examples. </span></h1>

				<select class="image-picker show-html show-label works" id="template_type">
				  <option value=""></option>
				  <option data-img-src="images/raw/heart.png" value="Heart">Heart</option>
				  <option data-img-src="images/raw/star.png" value="Star">Star</option>
				  <option data-img-src="images/raw/circle.png" value="Circle">Circle</option>
				  <option data-img-src="images/raw/square.png" value="Square">Square</option>
				  <option data-img-src="images/raw/faces.png" value="Faces">Faces</option>
				  <option data-img-src="images/raw/choice.png" value="Choice">Choice</option>
				</select>
			</div>


			<div class="row full-height">
				<div class="twelve columns">
					<h1 class="planner-msg">Optional: <span class="quote" id="task2-text">Write instructions for the friends you will invite to collaborate on this collage.</span></h1>
					<div class="control-group" id="task2-val">
				      {{!-- <label class="control-label" for="inputError">Input with error</label> --}}
				      <textarea class="form-control" type="text" name="directions" id="directions"></textarea><br>  
				    </div>
					
				</div>
			</div>
			<div class="row full-height">
				<div class="twelve columns">
					<h1 class="planner-msg">Optional: <span class="quote" id="task2">If you have a collage recipient in mind, enter his or her name.</span></h1>
					<input type="text" class="form-control" name="recipient_name" id="recipient_name"><br>
				</div>
			</div>
			<div class="row full-height">
				<div class="twelve columns">
					<h1 class="planner-msg">Task 2: <span class="quote">Save these links so you send out the collage to your friends </span></h1>
					<div>Participation link: Share this url with your friends to invite them to collaborate on this collage: <p class="quote shareLink" id="shareLink"></p></div>
					</br>
					
					<div>Recipient link: Send this link to recipients: <p class="quote shareLink" id="recipientLink"></p></div></br>
					<div>Admin link: Access this link to edit or delete tiles: <p class="quote shareLink" id="adminLink"></p></div>
					</br>
					<div>Then click on button below to make the first tile.</div>
					{{!-- <div><span class="quote">You can always hit back on your browser if you want to change your design </span> --}}
				</div>
			</div>
			<div class="row full-height pad-left">
					<div><input class="button" type="submit" id="make_first_tile" value="Make the first tile" style="margin-bottom: 50px; margin-top: 50px; border-radius: 0px; float: right;"></input></div>
			</div>

			
		</section>


<script src="/javascripts/firebase.js"></script>
<script src="/javascripts/planner.js"></script>
{{!-- 
<table> 
<tr id="row1">
Code is in template/tileItem.handlebars
</tr>
<tr id="row2">

</tr>

</table>
 --}}

