<script src="/templates/hbt.js"></script>
<script src="/javascripts/firebase.js"></script>

		<section id="intro" class="bg relative">
			<div class="row">
				<div class="six columns" id="header">
					<h3>Welcome to</h3>
					<h1>CARD COLLAGE</h1>
					<div class="clear"></div>
				</div>
				<div class="six columns">
					<p class="intro_text">
						Make a fun collage with friends, attach your personal video message, and impress whomever receives it!
					</p>
				</div>
			</div>

			<table id="heart-example">
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/hr1.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/hr2.png"></div>
					</td>				
				</tr>
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/hr4.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/hr3.png"></div>
					</td>				
				</tr>
			</table>


			<table id="love-example">
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/lv1.jpg"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/lv2.jpg"></div>
					</td>				
					<td class="thin">
						<div class="example"><img src="/images/lv3.jpg"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/lv4.jpg"></div>
					</td>				
				</tr>
			</table>


			<table id="face-example">
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/fc1.jpg"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/fc2.jpg"></div>
					</td>				
				</tr>
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/fc3.jpg"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/fc4.jpg"></div>
					</td>				
				</tr>
			</table>						
			<div class="nav">
				<div class="row">
					<div class="twelve columns">
						<a href="#portfolio" class="smoothScroll">Choose a template or task</a>
					</div>
				</div>
			</div>
			<div class="nav_bg">
			</div>
		</section>

		{{!-- <section id="album_wall" class="bg">
			<div class="row">
				<div class="twelve columns center">
					<h1>{{direction}}</h1>
				</div>
			</div>
		</section> --}}

		<section id="portfolio" class="relative">
			<div class="row">
				<div class="twelve columns">
					<h2>{{direction}}</h2>
				</div>
			</div>
			<a name="task1"></a>
			<div class="row full-height">
				<div>

					<h1 class="planner-msg">Template:</h1>


			<table id="heart-temp">
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/heart 1.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/heart 2.png"></div>
					</td>				
				</tr>
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/heart 3.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/heart 4.png"></div>
					</td>				
				</tr>
			</table>


			<table id="square-temp">
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/square 1.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/square 2.png"></div>
					</td>				
				</tr>
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/square 3.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/square 4.png"></div>
					</td>				
				</tr>
			</table>


			<table id="circle-temp">
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/circle 1.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/circle 2.png"></div>
					</td>				
				</tr>
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/circle 3.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/circle 4.png"></div>
					</td>		
				</tr>
			</table>	

			<table id="star-temp">
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/star 1.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/star 2.png"></div>
					</td>				
				</tr>
				<tr>
					<td class="thin">
						<div class="example"><img src="/images/star 3.png"></div>
					</td>
					<td class="thin">
						<div class="example"><img src="/images/star 4.png"></div>
					</td>				
				</tr>
			</table>	
				</div>

				<div class ="other-fields">
				<div><h1 class="planner-msg">Directions: </h1><input type="text" name="directions" id="directions"><br></div>
				<div><h1 class="planner-msg">Recipient name: </h1><input type="textarea" name="recipient_name" id="recipient_name"><br></div>

				<br/>

				<p class="sharelink" id="shareLink"></p>
				<div><input type="submit" id="make_first_tile" value="Make the first tile"></input></div>
				{{!-- <div><a id="make_first_tile">Make the first tile</a></div> --}}

				{{!-- <div id="recipient_name" style="display: none;">{{recipient_name}}</div> --}}
				{{!-- <div id="name_collage" style="display: none;">{{name_collage}}</div> --}}
			</div>
			</div>
		</section>


{{!-- 
<table> 
<tr id="row1">
Code is in template/tileItem.handlebars
</tr>
<tr id="row2">

</tr>

</table>
 --}}

