<link rel="stylesheet" href="/stylesheets/simplecam.css">
<script src='/javascripts/personal_message.js'></script>
<div class="direction">Don't forget to leave a personal video and/or text message :) <span class="msg" id="status"></span></div>
<p/>
<div><button class="button" id="start_recording">Start Recording Video</button><span id="videocountdown"></span></div>
<div><button class="button" id="stop_recording">Stop Recording Video</button></div>
<div><button class="button" id="replay_recording">Replay the Video</button></div>
<div>
<form name="input" id="submission" action="/postVideo" method="post">
	<input type="text" name="textmsg" id="textbox" placeholder="And put your text message here..">
	<input type="hidden" name="fb_collage_id" value="{{fb_collage_id}}">
	<input type="hidden" name="fb_tile_id" value="{{fb_tile_id}}">
	<input type="hidden" id="video_form" name="video" value="">
	<input type="hidden" id="audio_form" name="audio" value="">
	<button type="submit" class="button" id="finish">Finish!</button>
</form>
</div>
<div class="cropper"><div id="webcam_stream"></div></div>
<div class="cropper"><div id="video_container"></div></div>
<div id="audio_link"></div>
<div class="cropper"><div id="video_link"></div></div>
<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>
