  <script src='/javascripts/personal_message.js'></script>
  <div>Please record a video message and/or type in a text message :) </div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  <div id="status"> Please allow both microphone and web cam</div>
  <button id="start_recording">Start Recording Audio and Video</button>
  <button id="stop_recording">Stop Recording Audio and Video</button>
  <div id="audio_link"></div>
  <div id="video_link"></div>