{{!-- Source: https://github.com/codepo8/interaction-cam/ --}}

<link rel="stylesheet" href="/stylesheets/simplecam.css">

<div id="container">
	<div class="border" id="videowrapper">
		<video id="video"></video>
		<img src="/images/photo1.jpg" width=320 id="overlay">
	</div>
	<button class="button" id="startbutton">Take photo</button>
	<a href="personalmsg/?fb_collage_id={{fb_collage_id}}&fb_tile_id={{fb_tile_id}}"><button class="button" id="donebutton">Done!</button></a>
	<canvas id="canvas"></canvas>
	<div class="border" id="photowrapper"><img src="/images/photo1.jpg" id="photo" alt="photo"></div>
	<p id="countdown"></p>
</div>

<div id="fb_collage_id" style="display: none;">{{fb_collage_id}}</div>
<div id="fb_tile_id" style="display: none;">{{fb_tile_id}}</div>

<script src="/javascripts/simplecam.js"></script>
