{{!-- Source: https://github.com/codepo8/interaction-cam/ --}}

<link rel="stylesheet" href="/stylesheets/simplecam.css">

<div id="container">
	<video id="video"></video>
	<button id="startbutton">Take photo</button>
	<canvas id="canvas"></canvas>
	<img src="/images/photo1.jpg" width=320 id="photo" alt="photo">
</div>

<script src="/javascripts/simplecam.js"></script>
