<p>Hi! You have created a collage</p>
</br>
<p>You should keep this e-mail in case you want to edit the collage tiles or invite more participants later on.</p>

<p>The link to invite participants for this collage is:<p>
<p><a src="http://localhost:3000/?collage_id=cyd3twvzpvi">http://localhost:3000/?collage_id=cyd3twvzpvi</a></p>

<p>Access this link to edit or delete tiles:</p>
<p><a src="http://localhost:3000/?collage_id=cyd3twvzpvi&admin_id=ypeios10pb9">Admin Link</a></p>

<p>After the collage is complete, send this link to the intended recipient(s):</p>
<p><a src="http://localhost:3000/?collage_id=cyd3twvzpvi&recipient_id=koqperpy14i">http://localhost:3000/?collage_id=cyd3twvzpvi&recipient_id=koqperpy14i</a></p>
