html {
	background: #111111;
	height: 100%;
	background: linear-gradient( #333, #000);
}

canvas {
	display: none;
}

#photo, #donebutton, #startbutton, #overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	float: left;
}

#photowrapper {
	position: absolute;
	left: 600px;
	width: 320px;
	height: 313px;
	overflow: hidden;
}

#videowrapper {
	position: absolute;
	left: 0px;
	width: 320px;
	height: 313px;
	overflow: hidden;
}

.border {
	border: 10px solid #fff;
	border-radius: 10px;
}

#video {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 417px;
	height: 313px;
	display: block;
	float: left;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#blocker {
	position: absolute;
	width: 90px;
	height: 313px;
	top: 10px;
	left: 340px;
	background-color: black;
	background: #111111;
	background: linear-gradient( #333, #000);
}

#countdown {
	position: absolute;
	top: 0px;
	left: 620px;
	color: red;
	font-weight: bold;
	font-size: 18pt;
}

#overlay {
	opacity: 0.3;
}

.flip {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#photo {
	height: 313px;
	width: 417px;
	left: 0px;

}

#donebutton, #startbutton {
	left: 380px;
}

.button {
	border: none;
	background: orange;
	color: #fff;
	margin: 0px 20px 20px 20px;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 10px;
}

#donebutton {
	background: green;
	left: 400px;
	top: 100px;
}

#finish {
	position: fixed;
	background: green;
	bottom: 30px;	
}

#container {
	position: relative;
	width: 980px;
	height: 400px;
	margin: 20px auto;
}

.msg {
	margin-left: 20px;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

#replay, #webcam_stream {
	position: fixed;
	margin-left: 20px;
	bottom: 200px;
	height: 200px;
	width: 280px;
	height: 210px;
}

#replay {
	bottom: 195px;
}

#webcam_stream video {
	width: 280px;
	height: 210px;	
}

#replay, .not-recording {
  border: 2px solid #dcc;
}
.recording {
  border: 2px solid red;
}

#conversation {
  padding: 10px 10px 80px;
  overflow-y: scroll;
  height: 100%;
}
#submission {
  position: fixed;
  bottom: 120px;
  width: 40%;
  margin-left: 20px;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
