html {
	background: #111111;
	height: 100%;
	background: linear-gradient( #333, #000);
}

canvas {
	display: none;
}

#photo, #donebutton, #startbutton, #overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	float: left;
	border: 10px solid #fff;
	border-radius: 10px;
}

#video {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 417px;
	height: 313px;
	display: block;
	float: left;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#overlay {
	opacity: 0.3;
}

#photo {
	width: 320px;
	height: 313px;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#donebutton, #startbutton {
	left: 360px;
	background: green;
	border: none;
	color: #fff;
	margin: 100px 20px 20px 20px;
	padding: 10px 20px;
	font-size: 20px;
}

#donebutton {
	left: 385px;
	top: 100px;
}

#photo {
	left: 580px;
}

#container {
	position: relative;
	overflow: hidden;
	width: 980px;
	height: 400px;
	margin: 20px auto;
}