body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fafafa;
}
a {
  color: #00B7FF;
}
.rotate-right {
  -webkit-transform: rotate(90deg);
}
.rotate-over {
  -webkit-transform: rotate(180deg);
}
.rotate-left {
  -webkit-transform: rotate(270deg);
}
.regtext {
  color: #fafafa;
}
