<td>
  <div class="wrapper" id="tile1">
      <img src="{{photo}}" class="overlay rotate-right">
      <form accept-charset="UTF-8" action="non-exist" enctype="multipart/form-data" method="post">
        <p><input name="photo" type="file"/></p>
        <p><input type="submit"/></p>
      </form>
  </div>
</td>