body {
	font-family: Tahoma;
	font-size: 13px;
}

.wrapper {
	position: relative;
}

.wrapper img {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 260px;
	height:400px;
}

.transparent {
	opacity: 0.4;
}